@tailwind base;
@tailwind components;
@tailwind utilities;

[data-fade] {
  @apply duration-[500ms] opacity-0 transition ease-out translate-y-8 motion-reduce:opacity-100 motion-reduce:translate-y-0;
}
.fade-in-start [data-fade] {
  @apply opacity-100 translate-y-0;
}
.fade-in-start [data-fade="1"] {
  transition-delay: 100ms;
}
.fade-in-start [data-fade="2"] {
  transition-delay: 200ms;
}
.fade-in-start [data-fade="3"] {
  transition-delay: 300ms;
}
.fade-in-start [data-fade="4"] {
  transition-delay: 400ms;
}
.fade-in-start [data-fade="5"] {
  transition-delay: 500ms;
}
.fade-in-start [data-fade="6"] {
  transition-delay: 600ms;
}
.fade-in-start [data-fade="7"] {
  transition-delay: 700ms;
}
.fade-in-start [data-fade="8"] {
  transition-delay: 800ms;
}

.prose p {
  @apply mb-1;
}
